<div class="about__wrapper z-depth-5">
  <div class="about__title ">
    <p class="z-depth-2">
      <span>Welcome to ShowGo's Website!!</span>
    </p>
  </div>
  <div class="about__detail row valign-wrapper wrapper">
    <div class="about__detail__image col s12 m12 l4">
      <div class="about__detail__image__content-image">      
        <%= image_tag "/assets/showgo2.JPG", class:"image-content circle z-depth-3"%>
      </div>
      <div class="about__detail__image__content-nickname ">
        <div class="about__detail__image__content-nickname__label about-label">
          <h2>Nickname</h2>
        </div>
        <div class="about__detail__image__content-nickname__me about-content">
          <h2>ShowGo</h2>
        </div>
      </div>
    </div>
    <div class="about__detail__contents col s12 m12 l8">
      <div class="about__detail__contents__name contents-content">
        <div class="about__detail__cotents__name__label about-label">
          <h2>Name</h2>
        </div>
        <div class="about__detail__contents__name__me about-content">
          <h2>Shogo Sakai</h2>
        </div>
      </div>
      <div class="about__detail__contents__birthday contents-content">
        <div class="about__detail__cotents__birthday__label about-label">
          <h2>Birthday</h2>
        </div>
        <div class="about__detail__contents__birthday__me about-content">
          <h2>1989/07/03</h2>
        </div>
      </div>
      <div class="about__detail__contents__Locations contents-content">
        <div class="about__detail__cotents__Locations__label about-label">
          <h2>Locations</h2>
        </div>
        <div class="about__detail__contents__Locations__me about-content">
          <h2>
          三重、奈良、広島、福岡
          </h2>
        </div>
      </div>
      <div class="about__detail__contents__info contents-content">
        <div class="about__detail__cotents__info__label about-label">
          <h2>Info</h2>
        </div>
        <div class="about__detail__contents__info__me about-content">
          <h2>元ハードウェアエンジニア</br>（機械構造設計）</h2>
        </div>
      </div>
    </div>
  </div>
</div>