<div class="about__wrapper z-depth-5">
  <div class="about__title ">
    <p class="z-depth-2">
      <span>Welcome to ShowGo's Website!!</span>
    </p>
  </div>
  <div class="about__detail row">
    <div class="about__detail__image col s12 m6">
      <div class="about__detail__image__content-image">      
        <%= image_tag "/assets/showgo2.JPG", class:"image-content circle z-depth-3"%>
      </div>
      <div class="about__detail__image__content-nickname ">
        <div class="about__detail__image__content-nickname__label about-label">
          <p>Nickname</p>
        </div>
        <div class="about__detail__image__content-nickname__me about-content">
          ShowGo
        </div>
      </div>
    </div>
    <div class="about__detail__contents col s12 m6">
      <div class="about__detail__contents__name contents-content">
        <div class="about__detail__cotents__name__label about-label">
          <p>Name</p>
        </div>
        <div class="about__detail__contents__name__me about-content">
          <p>Shogo Sakai</p>
        </div>
      </div>
      <div class="about__detail__contents__birthday contents-content">
        <div class="about__detail__cotents__birthday__label about-label">
          <p>Birthday</p>
        </div>
        <div class="about__detail__contents__birthday__me about-content">
          <p>1989/07/03</p>
        </div>
      </div>
      <div class="about__detail__contents__Locations contents-content">
        <div class="about__detail__cotents__Locations__label about-label">
          <p>Locations</p>
        </div>
        <div class="about__detail__contents__Locations__me about-content">
          <a>三重、</a>
          <a>奈良、</a>
          <a>広島、</a>
          <a>福岡</a>
        </div>
      </div>
      <div class="about__detail__contents__info contents-content">
        <div class="about__detail__cotents__info__label about-label">
          <p>Info</p>
        </div>
        <div class="about__detail__contents__info__me about-content">
          <p>元ハードウェアエンジニア</br>（機械構造設計）</p>
        </div>
      </div>
    </div>
  </div>
</div>