<div class="about__wrapper z-depth-5 valign-wrapper" id="experiences">
  <div class="about__title">
    <p class="experiences z-depth-2">
      <span>Contact</span>
    </p>
  </div>
  <p class="experiences-notice">
    各種SNSアカウントから、もしくはダイレクトメッセージでお問い合わせください。</br>
    Please contact me from SNS or Direct message bellow.
  </p>

  <%# contents %>

  <%# sns %>
  <div class="contact__wrapper row valign-wrapper">
    <div class="contact__wrapper__sns col s12 m6">
      <div class="contact__wrapper__sns__title ">
        <p class="z-depth-2"><span>S.N.S.</span></p>
      </div>
      <div class="contact__wrapper__sns__list">
        <div class="contact__wrapper__sns__list__twitter content">
          <a href="https://twitter.com/shshsshsh8" target="_blank"><span><i class="fab fa-twitter"></i>twitter</span></a>
        </div>
        <div class="contact__wrapper__sns__list__instagram content">
          <a href="https://www.instagram.com/showgo73/?hl=ja" target="_blank"><span><i class="fab fa-instagram"></i>instagram</span></a>
        </div>
        <div class="contact__wrapper__sns__list__github content">
          <a href="https://github.com/Shogo-Sakai" target="_blank"><span><i class="fab fa-github"></i>github</span></a>
        </div>
        <div class="contact__wrapper__sns__list__facebook content">
          <a href="https://www.facebook.com/shogo.sakai.779" target="_blank"><span><i class="fab fa-facebook"></i>facebook</span></a>
        </div>
      </div>
    </div>
    
    <%# direct %>
    <div class="contact__wrapper__direct col s12 m6">

    <%# title %>
      <div class="contact__wrapper__direct__form-title">
        <p class=" z-depth-2"><span>Direct Message</span></p>
      </div>


      <div class="contact__wrapper__direct__form-wrapper">
        <div class="contact__wrapper__direct__form-wrapper__dm  valign-wrapper">
          <span>
            <a href="mailto:shougosakai64@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i></br>Mail me from here!</br><i class="fas fa-envelope"></i>
            </a>
          </span>
        </div>
      
      <%# name入力フォーム %>        
        <%# <div class="contact__wrapper__direct__form-wrapper__name">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Your Name</label>
                </div>
              </div>
            </form>
          </div>
        </div> %>

        <%# email入力フォーム %>
        <%# <div class="contact__wrapper__direct__form-wrapper__email">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail</i>
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                  <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                </div>
              </div>
            </form>
          </div>        
        </div> %>

        <%# textarea入力フォーム %>
        <%# <div class="contact__wrapper__direct__form-wrapper__content">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Give me a message!</label> %>

                    <%# お問い合わせ送信ボタン %>
                    <%# <div class="contact_wrapper__direct__form-wrapper__submit center">
                      <p class="btn submit">Submit</p>
                    </div>
                  </div>
                </div>
              </form>
            </div> %>
        </div>
      </div>
    </div>
  </div>

</div>

