<div class="about__wrapper z-depth-5" id="experiences">
  <div class="about__title">
    <p class="experiences z-depth-2">
      <span>Experiences</span>
    </p>
  </div>
  <p class="experiences-notice">
    各経歴をクリックしたら詳細が表示されます。</br>
    Click my experiences and see some details.(Sorry, Japanese only now.)
  </p>
  <div class="experience-wrapper row">
    <div class="experience-wrapper__map col s12 m6">
      <div id="exp_map" class="z-depth-2"></div>
    </div>
    <div class="experience-wrapper__contents col s12 m6">
      <ul class="experience-wrapper__contents__content">

        <%# 高校卒業 %>
        <li class="truncate modal-trigger" href="#modal1"><span>2008:三重県立四日市高等学校普通科卒業</span></li>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>2008</br>三重県立四日市高等学校普通科卒業</h4>
              <p>
                ・英語が好きな理系。文化祭での出し物にダブルダッチをすることになり振り付けや構成を担当。</br>
                ・部活は硬式テニス部、主将経験あり。部活引退後は勉強の息抜きがてら独学でトランペット、気の合う仲間達とアカペラを始める。</br>
                ・携帯電話でホームページ作成に夢中になる。確率で表示する画像を変える、期間（30分等の時間）限定画像などをして遊んでいたらサーバー負荷が大きすぎたのかしばらくアクセス不能になった思い出あり。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>

        <%# 大学 %>
        <li class="truncate modal-trigger" href="#modal2"><span>2008~2012:広島大学工学部一類（機械科）</span></li>
          <div id="modal2" class="modal">
            <div class="modal-content">
              <h4>2008~2012</br>広島大学工学部一類（機械科）</h4>
              <p>
                ・４力（機械力学、材料力学、流体力学、熱力）を学んだ後、機械力学研究室に所属。</br>
                ・PowerPointやExcelを使用して研究結果を発表。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>

        <%# 大学院 %>
        <li class="truncate modal-trigger" href="#modal3"><span>2012~2014:広島大学大学院工学研究科機械システム工学専攻</span></li>
          <div id="modal3" class="modal">
            <div class="modal-content">
              <h4>2012~2014</br>広島大学大学院工学研究科機械システム工学専攻</h4>
              <p>
                ・機械力学研究室にて「音響管の形状変化に伴う騒音の変化」を研究。</br>
                ・研究結果の発表はPowerPoint、研究のまとめはフロッピー（設備が古かったため）とExcelを使用。</br>
                ・音響解析にはANSYS（解析ソフト）を有限要素法で周波数特性などを解析。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>

        <%# 就職 %>
        <li class="truncate modal-trigger" href="#modal4"><span>2014:某家電メーカー就職</span></li>
          <div id="modal4" class="modal">
            <div class="modal-content">
              <h4>2014</br>某家電メーカー就職</h4>
              <p>
                「感動する製品を世に届けたい」と思い、世界初の商品を多く出している「目の付け所が鋭い」会社に就職。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>

        <%# 奈良で研修 %>
        <li class="truncate modal-trigger" href="#modal5"><span>2014.05~09:奈良の家電修理部門で研修</span></li>
          <div id="modal5" class="modal">
            <div class="modal-content">
              <h4>2014.05~09</br>奈良の家電修理部門で研修</h4>
              <p>
                ・設計開発では直接感じることができないお客様の声を直接聞く。</br>
                ・修理対応の為あまり製品に良く思ってくれていない人もいる中、
                「直してくれてありがとう、次も御社の製品を買うね」と言われたこともあり感動する。</p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>
        
        <%# 広島で仕事 %>
        <li class="truncate modal-trigger" href="#modal6"><span>2014.09~2019.06:広島の新規事業:機構開発部に所属</span></li>
          <div id="modal6" class="modal">
            <div class="modal-content">
              <h4>2014.09~2019.06</br>広島の新規事業:機構開発部に所属</h4>
              <p>
                ・通信機器の新規事業開発Gr.に配属になり、コミュニケーションロボットを始めとする新規製品の（機械構造の）設計開発に従事。</br>
                ・製品の仕様検討、設計、試作、生産、初期流動等…他部門とも関わりながら進んでいくモノづくりの流れを一通り経験。</br>
                ・中国への出張も多く、英語を使用して部品の設計検討や日程調整等も行う。</br>
                ・担当した製品の展示会などのイベントにも技術要員として参加したものの、お客様に「さかいさんにもう一度説明に来てもらいたい」と言われ営業部長と営業先を周った経験あり。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>

        <%# 福岡で勉強 %>
        <li class="truncate modal-trigger" href="#modal7"><span>2019.07~:福岡のスクールで本格的にプログラミング勉強開始</span></li>
          <div id="modal7" class="modal">
            <div class="modal-content">
              <h4>2019.07~</br>福岡のスクールで本格的にプログラミング勉強開始</h4>
              <p>
                ・以前から興味があったソフトウェアのモノづくりに身を置きたいと感じ、一念発起して退職。</br>
                ・独学でProgateやUdemyでRubyを中心に学んだ後、福岡のプログラミングスクールに通い始める。10月初旬卒業予定。
              </p>
            </div>
            <div class="modal-footer">
              <p href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</p>
            </div>
          </div>
      </ul>
    </div>
  </div>
</div>

