<%# モーダル %>
<%# ポートフォリオ１  言語モーダル %>
<div id="modal11" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>使用している言語等</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・HTML(erb), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h6>
      <h6 class="left-align">
        ・materialize, google maps api
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  実装機能モーダル %>
<div id="modal12" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>実装した機能</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・各ユーザー毎にイベントを登録し、各イベントのスタッフ毎にタスクを振り分けられる。
      </h6>
      <h6 class="left-align">
        ・ユーザー新規登録、ログイン、ログアウト、編集、削除
        </br>
        ⇛編集したい項目が多かったためdevise gem不使用。
      </h6>
      <h6 class="left-align">
        ・イベントの新規登録、編集、削除、複数イベントのページを切り替え
        </br>
        ⇛各ユーザーが複数のイベントに属する事ができる。
      </h6>
      <h6 class="left-align">
        ・タスクの新規登録、編集、削除、各イベントスタッフ毎にタスクを振り分けられる。
      </h6>
      <h6 class="left-align">
        ・カレンダーを各イベント毎に作成、表示。
        </br>
        ⇛各イベントのタスク期日をカレンダーに表示。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  工夫、苦労したモーダル %>
<div id="modal13" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>工夫、苦労した点</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆工夫した点◆
      </h6>
      <h6 class="left-align">
        ・materializeのsidenavやtabを利用することにより少ないスペースで多くの情報を組み込むことができた。
      </h6>
      <h6 class="left-align">
        ・ユーザー毎のイベント毎のスタッフ毎のタスクを管理することができる。
      </h6>
      <h6 class="left-align">
        ・ユーザー登録画面で「テキストボックス、テキストエリア、プルダウン、ラジオボタン、チェックボックス、ファイルアップロード、ボタン」のフォームを実装している。
        </br>
        ⇛必要な情報には「必須チェック、未入力チェック、メールアドレス構文チェック、文字数チェック」のバリデーションをつけている。
      </h6>
      <h6 class="left-align">
        ・自分がイベントを複数主催する際に
        </br>
        「どのイベントで誰になにをいつまでに頼んでいたか把握しづらい」
        </br>
        という問題を解決できた。
      </h6>
      <h6 class="left-align">
        ◆苦労した点◆
      </h6>
      <h6 class="left-align">
        ・ユーザー機能にdeviseを使用していないため、ユーザーのアクセス制限機能を実装するのに苦労した。
      </h6>
      <h6 class="left-align">
        ・ユーザーが所属する、現在作業しているイベントをsessionで管理しているため、制限機能実装が少し複雑になった。
      </h6>
      <h6 class="left-align">
        ・各ユーザーごとのライブなど、多対多のDBの扱い方に苦労した。
      </h6>
      <h6 class="left-align">
        ・turbolinksとmaterializeのjavascript(jquery)の共存に苦労した。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  URL、ソースモーダル %>
<div id="modal14" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>URLやソースコード</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆工夫した点◆
      </h6>
      <h6 class="left-align">
        ・materializeのsidenavやtabを利用することにより少ないスペースで多くの情報を組み込むことができた。
      </h6>
      <h6 class="left-align">
        ◆苦労した点◆
      </h6>
      <h6 class="left-align">
        ・ユーザー機能にdeviseを使用していないため、ユーザーのアクセス制限機能を実装するのに苦労した。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>
