<div class="about__wrapper z-depth-5">
  <div class="about__title ">
    <p class="z-depth-2">
      <span>Portfolios</span>
    </p>
  </div> 
  <div class="portfolio-contents-wrapper">
    <div class="portfolio-contents-wrapper__memo center">
    </div>
    <div class="portfolio-contents-wrapper__content center">

      <div class="slider">
        <ul class="slides z-depth-3">

        <%# ポートフォリオ１ %>
          <li>
            <div class="slides__contents__content">
              <div class="slides__contents__content__image">
                <img src="assets/home_logo.JPG" >
              </div>
              <div class="slides__contents__content__detail portfolio1">
                <p class="slides__contents__content__detail__title">
                  Work Life Balance
                </p>
                <p class="slides__contents__content__detail__concept">
                  イベント企画者特化型タスク管理サービス
                </p>
                <div class="slides__contents__content__detail__list">
                  <table class="highlite centered">
                    <tr class="list-top">
                      <td>使用している言語等</td>
                      <td><a class="btn modal-trigger" href="#modal11">Details</a></td>
                    </tr>
                    <tr>
                      <td>実装した機能</td>
                      <td><a class="btn modal-trigger" href="#modal12">Details</a></td>
                    </tr>
                    <tr>
                      <td>工夫、苦労した点</td>
                      <td><a class="btn modal-trigger" href="#modal13">Details</a></td>
                    </tr>
                    <tr>
                      <td>URLやソースコード</td>
                      <td><a class="btn modal-trigger" href="#modal14">Details</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <%# ポートフォリオ２ %>
          <%# <li>
            <div class="slides__contents__content">
              <div class="slides__contents__content__image">
                <img src="assets/home_logo.JPG" >
              </div>
              <div class="slides__contents__content__detail portfolio2">
                <p class="slides__contents__content__detail__title">
                  ChatSpace
                </p>
                <p class="slides__contents__content__detail__concept">
                  グループ作成機能がついたチャットサービス
                </p>
                <div class="slides__contents__content__detail__list">
                  <table class="highlite centered">
                    <tr class="list-top">
                      <td>使用している言語等</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>実装した機能</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>工夫、苦労した点</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>URLやソースコード</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div> %>

          <%# ポートフォリオ３ %>
          <%# <li>
            <div class="slides__contents__content">
              <div class="slides__contents__content__image">
                <img src="assets/home_logo.JPG" >
              </div>
              <div class="slides__contents__content__detail portfolio3">
                <p class="slides__contents__content__detail__title">
                  メル○リのクローン
                </p>
                <p class="slides__contents__content__detail__concept">
                  某フリマアプリクローンサイト(チーム開発)
                </p>
                <div class="slides__contents__content__detail__list">
                  <table class="highlite centered">
                    <tr class="list-top">
                      <td>使用している言語等</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>実装した機能</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>工夫、苦労した点</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                    <tr>
                      <td>URLやソースコード</td>
                      <td><a class="btn">Details</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li> %>

        <%# 各ポートフォリオモーダル %>
        <%= render "modal_portfolio" %>

        </ul>
      </div>
    </div>
  </div>
</div>