<div class="about__wrapper z-depth-5">
  <div class="about__title">
    <p class="technologies z-depth-2">
      <span>Technologies</span>
    </p>
  </div>
  <div class="card-contents-wrapper">
    <p class="category">使用経験のある言語やツール等です。各画像をクリックすると簡単な詳細が出てきます。</p>
    <p class="category">Languages and other tools that I can use. Click icons for detail.</p>
    <div class="card-contents">
      <div class="card card-contents__html col s12 m4 l2 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__html__image">
          <img class="activator" src="assets/html-5.svg">
        </div>
        <div class="card-content card-contents__html__content">
          <span class="card-title activator grey-text text-darken-4">HTML5<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">HTML5<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by html5.</p>
        </div>
      </div>
      <div class="card card-contents__css col s12 m4 l2 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__css__image">
          <img class="activator" src="assets/css-3.svg">
        </div>
        <div class="card-content card-contents__html__content">
          <span class="card-title activator grey-text text-darken-4">CSS3<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">CSS3<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by CSS3.</p>
        </div>
      </div>
      <div class="card card-contents__javascript col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__javascript__image">
          <img class="activator" src="assets/javascript.svg">
        </div>
        <div class="card-content card-contents__javascript__content">
          <span class="card-title activator grey-text text-darken-4">Javascript<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Javascript<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by Javascript.</p>
        </div>
      </div>
      <div class="card card-contents__ruby col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__ruby__image">
          <img class="activator" src="assets/ruby.svg">
        </div>
        <div class="card-content card-contents__ruby__content">
          <span class="card-title activator grey-text text-darken-4">Ruby<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ruby<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by Ruby.</p>
        </div>
      </div>
      <div class="card card-contents__haml col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__haml__image">
          <img class="activator" src="assets/haml.svg">
        </div>
        <div class="card-content card-contents__haml__content">
          <span class="card-title activator grey-text text-darken-4">Haml<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Haml<i class="material-icons right">close</i></span>
          <p>作成したポートフォリオで使用しました。</p>
          <p>I used Haml in portfolios.</p>
        </div>
      </div>
      <div class="card card-contents__sass col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__sass__image">
          <img class="activator" src="assets/sass.svg">
        </div>
        <div class="card-content card-contents__sass__content">
          <span class="card-title activator grey-text text-darken-4">Sass<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Sass<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by Sass.</p>
        </div>
      </div>
      <div class="card card-contents__jquery col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__jquery__image">
          <img class="activator" src="assets/jquery.svg">
        </div>
        <div class="card-content card-contents__jquery__content">
          <span class="card-title activator grey-text text-darken-4">jQuery<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">jQuery<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by jQuery.</p>
        </div>
      </div>
      <div class="card card-contents__rails col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__rails__image">
          <img class="activator" src="assets/rails.svg">
        </div>
        <div class="card-content card-contents__rails__content">
          <span class="card-title activator grey-text text-darken-4">Rails<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Rails<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオを作成しました。</p>
          <p>I made this web site and other portfolios by Rails.</p>
        </div>
      </div>
      <div class="card card-contents__creo col s12 m6 l3 z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__rails__image">
          <img class="activator" src="assets/creo-logo.png">
        </div>
        <div class="card-content card-contents__creo__content">
          <span class="card-title activator grey-text text-darken-4">Creo<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★★☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Creo Parametric<i class="material-icons right">close</i></span>
          <p>3次元CAD（3次元設計）ソフトCreoを約５年間実務で使用していました。主に通信機器の成形部品や板金部品の設計に使用。</p>
          <p>I used Creo, 3D CAD soft for about 5 years. I used this to design plastic and metal parts.</p>
        </div>
      </div>
    </div>
  </div>
</div>