<div class="about__wrapper z-depth-5">
  <div class="about__title">
    <p class="technologies z-depth-2">
      <span>Skills</span>
    </p>
  </div>
    <p class="category center">使用経験のある言語やツール等です。各画像をクリックすると簡単な詳細が出てきます。
      </br>
      Languages and other tools that I can use. Click icons for detail.
    </p>
  <div class="card-contents-wrapper center">
    <div class="card-contents row ">

<%# 言語 %>
      <%# html %>
      <div class="card card-contents__html z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__html__image">
          <img class="activator" src="assets/html-5.svg">
        </div>
        <div class="card-content card-contents__html__content">
          <span class="card-title activator grey-text text-darken-4">HTML5<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">HTML5<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。ページのレイアウトをブロックに分解するのが好きです。</p>
          <p>I made this web site and other portfolios by html5. I like to divide page layouts in blocks.</p>
        </div>
      </div>

      <%# css %>
      <div class="card card-contents__css  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__css__image">
          <img class="activator" src="assets/css-3.svg">
        </div>
        <div class="card-content card-contents__html__content">
          <span class="card-title activator grey-text text-darken-4">CSS3<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">CSS3<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。動きのあるCSSも好きです。display:flex;が好きです。</p>
          <p>I made this web site and other portfolios by CSS3. I like moving CSSs. I also like display:flex;</p>
        </div>
      </div>

      <%# javascript %>
      <div class="card card-contents__javascript  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__javascript__image">
          <img class="activator" src="assets/javascript.svg">
        </div>
        <div class="card-content card-contents__javascript__content">
          <span class="card-title activator grey-text text-darken-4">Javascript<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Javascript<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。スクロール機能が好きです。</p>
          <p>I made this web site and other portfolios by Javascript. I like scroll functions.</p>
        </div>
      </div>

      <%# ruby %>
      <div class="card card-contents__ruby  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__ruby__image">
          <img class="activator" src="assets/ruby.svg">
        </div>
        <div class="card-content card-contents__ruby__content">
          <span class="card-title activator grey-text text-darken-4">Ruby<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ruby<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。ユーザーが入力するgetsメソッドが好きです。</p>
          <p>I made this web site and other portfolios by Ruby. I like gets method, because user input the value.</p>
        </div>
      </div>

      <%# python %>
      <div class="card card-contents__python  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__ruby__image">
          <img class="activator" src="assets/python.svg">
        </div>
        <div class="card-content card-contents__ruby__content">
          <span class="card-title activator grey-text text-darken-4">Python<i class="material-icons right">more_vert</i></span>
          <p>Level ★☆☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Python<i class="material-icons right">close</i></span>
          <p>ProgateやDjango-Girlsで学習済み。もっと深く勉強予定。</p>
          <p>I studied by using Progate and Django-Girls. I want to study more deeper like machine learning.</p>
        </div>
      </div>

<%# ツール %>
      <%# github %>
      <div class="card card-contents__django  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__ruby__image">
          <img class="activator" src="assets/github-icon.svg">
        </div>
        <div class="card-content card-contents__ruby__content">
          <span class="card-title activator grey-text text-darken-4">GitHub<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">GitHub<i class="material-icons right">close</i></span>
          <p>チーム開発でGitHubを使用しました。rebaseがとても便利なので、今後も使いこなしていきたいです。</p>
          <p>I used GitHub in team development. "rebase" is so cool and want to keep using this convinient command.</p>
        </div>
      </div>

      <%# haml %>
      <div class="card card-contents__haml  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__haml__image">
          <img class="activator" src="assets/haml.svg">
        </div>
        <div class="card-content card-contents__haml__content">
          <span class="card-title activator grey-text text-darken-4">Haml<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Haml<i class="material-icons right">close</i></span>
          <p>作成したポートフォリオで使用しました。閉じタグが不要なこと、インデントを綺麗にするのが好きです。</p>
          <p>I used Haml in portfolios. I like Haml because close tag is not necessary and makes me to get indents beautiful.</p>
        </div>
      </div>

      <%# sass %>
      <div class="card card-contents__sass  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__sass__image">
          <img class="activator" src="assets/sass.svg">
        </div>
        <div class="card-content card-contents__sass__content">
          <span class="card-title activator grey-text text-darken-4">Sass<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Sass<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。見た目や機能がわかりやすいので好きです。</p>
          <p>I made this web site and other portfolios by Sass.I like Sass because it is easy to understand which and what class does CSS is used. </p>
        </div>
      </div>

      <%# jquery %>
      <div class="card card-contents__jquery  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__jquery__image">
          <img class="activator" src="assets/jquery.svg">
        </div>
        <div class="card-content card-contents__jquery__content">
          <span class="card-title activator grey-text text-darken-4">jQuery<i class="material-icons right">more_vert</i></span>
          <p>Level ★★☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">jQuery<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。主にmaterializeのオプション設定やjavascriptを楽にかけるのが好きです。</p>
          <p>I made this web site and other portfolios by jQuery. I like to use jQuery when we add options to materialize and we can code javascripts easily.</p>
        </div>
      </div>

      <%# rails %>
      <div class="card card-contents__rails  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__rails__image">
          <img class="activator" src="assets/rails.svg">
        </div>
        <div class="card-content card-contents__rails__content">
          <span class="card-title activator grey-text text-darken-4">Rails<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Rails<i class="material-icons right">close</i></span>
          <p>このウェブサイトや、作成したポートフォリオで使用しました。とても早くページを表示、機能の実装ができるのが好きです。</p>
          <p>I made this web site and other portfolios by Rails. I like Rails because it is easy to view, and add some functions to my applications.</p>
        </div>
      </div>

      <%# django %>
      <div class="card card-contents__django  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__ruby__image">
          <img class="activator" src="assets/django.svg">
        </div>
        <div class="card-content card-contents__ruby__content">
          <span class="card-title activator grey-text text-darken-4">Django<i class="material-icons right">more_vert</i></span>
          <p>Level ★☆☆☆☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Django<i class="material-icons right">close</i></span>
          <p>Django-Girlsで学習済み。ブログアプリを作成してデプロイしました。もっと深く勉強したい。</p>
          <p>I studied by using Django-Girls.I made blog application by using Django. I want to study more deeper.</p>
        </div>
      </div>

      <%# creo %>
      <div class="card card-contents__creo  z-depth-3">
        <div class="card-image waves-effect waves-block waves-light card-contents__rails__image">
          <img class="activator" src="assets/creo-logo.png">
        </div>
        <div class="card-content card-contents__creo__content">
          <span class="card-title activator grey-text text-darken-4">Creo<i class="material-icons right">more_vert</i></span>
          <p>Level ★★★★☆</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Creo Parametric<i class="material-icons right">close</i></span>
          <p>3次元CAD（3次元設計）ソフトCreoを約５年間実務で使用していました。主に小型通信機器の成形部品や板金部品の設計を経験。一つのものに様々な答え、手段があり手法毎にメリットがある考えが好きです。</p>
          <p>I used Creo, 3D CAD soft for about 5 years. I used this to design plastic and metal parts. There are many ways to make same design. And also there are merits in each ideas. I like this way of thinking.</p>
        </div>
      </div>

    </div>
  </div>
</div>