// reset
html{
  color:#000;background:#FFF
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img{
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
  font-style:normal;
  font-weight:normal;
}
ol,ul{
  list-style:none;
}
caption,th{
  text-align:left;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:normal;
}
q:before,q:after{
  content:'';
}
abbr,acronym{
  border:0;
  font-variant:normal;
}
sup{
  vertical-align:text-top;
}
sub{
  vertical-align:text-bottom;
}
input,textarea,select{
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  *font-size:100%;
}
legend{
  color:#000;
}
#yui3-css-stamp.cssreset{
  display:none;
};

// 共通部分
.contents_container{
  width:100vw;
  height:100vh;
}

.p-image{
  // width:150vw;
  height:150vh;
}

// home
.contents-about{
  background-color:#FEEABC;
}
.contents-experience{
  background-color: #FCAA00;
}
.contents-technology{
  background-color: #61C359;
}
.contents-portfolio{
  background-color: #FEEABC;
}
.contents-hobby{
  background-color:#767676;
}
.contents-contact{
  background-color:#FCAA00;
}

// about
.about__wrapper{
  width:100vw;
  height:100vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about__title{
    height:30%;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 3rem;
      height: 30%;
      background-color: #FCAA00;
      border-radius: 30px;
      color: #FEEABC;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:40px;
      font-family:"Rounded Mplus 1c";
      span {
        position: relative;
      }
      span::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #61C359;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.3s ease-in-out;
      }      
      span:hover::before {
        transform: translate(-50%, 0) scaleX(1);
      }
    }

    // technologies title
    .technologies{
      background-color: #FCAA00;
      color: #FEEABC;
    }
    .experiences{
      background-color: white;
      color: #FCAA00;
    }
  }

  .about__detail{
    font-family:"Rounded Mplus 1c";
    font-size: 1.5rem;
    width:95%;
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    &__image{
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &__content-image{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
        .image-content{
          width: 100%;
          height:auto;  
        }
      }
      &__content-nickname{
        display:flex;
        justify-content: center;
        &__label{
          border-right: 1px solid #767676;
          margin: 0 10px 20px 0;
          padding:0 10px 0 0 ;
          color: #767676;
        }
        &__me{
          color: #61C359;
        }
      }
    }
    &__contents{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3rem;
      .contents-content{
        width:100%;
        display: flex;
      }
      .about-label{
        width:50%;
        text-align: right;
        border-right: 1px solid #767676;
        margin: 0 10px 20px 0;
        padding:0 10px 0 0 ;
        color: #767676;
      }
      .about-content{
        width: 50%;
        text-align: left;
        color: #61C359;
        a{
          color: #61C359;
        }
      }
    }
  }
}

// experiences
.experiences-notice{
  margin-bottom: 20px;
  font-family:"Rounded Mplus 1c";
  color: #767676;
  font-size: 1.5rem;
}

.experience-wrapper{
  width:100%;
  height:80vh;
  overflow: auto;
  font-family:"Rounded Mplus 1c";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  &__map{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #exp_map{
      width:95%;
      height: 95%;
      border-radius: 20px;
    }
  }
  &__contents{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    &__content{
      box-sizing: border-box;
      width:100%;
      height:100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .modal{
        border-radius: 20px;
        .modal-content{
          h5{
            line-height: 3rem;
          }
        }
      }
      li{
        width: 100%;
        cursor: pointer;
        cursor: hand;
        margin:auto 0;
        font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
        font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
          }
      span {
        position: relative;
      }      
      span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #3cefff;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }      
      span:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }      
    }
  }
}

// technologies
.category{
  font-size: 1.5rem;
  color: #FEEABC;
  margin:15px;
}

.card-contents-wrapper{
  width:90%;
  height: 100%;
  overflow: auto;
  font-family:"Rounded Mplus 1c";
  .card-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .card{
      border-radius: 20px;
      box-sizing: border-box;
      width:200px;
      padding:20px 20px 0 20px;
      margin:20px;
      .card-content{
        .card-title{
          font-weight: bold;
        }
      }
      .card-reveal{
        text-align: left;
        .card-title{
          font-weight: bold;
        }
      }
    }
  }  
}

// portfolios

.portfolio-contents-wrapper{
  width: 100%;
  height: 125vh;
  overflow: auto;
  font-family:"Rounded Mplus 1c";
  &__content{
    width: 100%;
    height: 100%;
    padding:0 10%;
    .slider{
      .slides{
        &__contents__content{
          width:100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #FEEABC;
          &__image{
            width:50%;
            height:100%;
          }
          &__detail{
            width:50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: auto;
            &__title{
              font-size: 3rem;
              padding:10px;
            }
            &__concept{
              font-size: 1.5rem;
            }
            &__list{
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding-top:20px;
              .list-top{
                border-top:0.1px solid rgba(128, 128, 128, 0.4);
              }
            }
          }
          td{
            font-size: 1.5rem;
          }
          .portfolio1{
            background-color: rgba(98, 195, 89, 0.8);
          }
          .portfolio2{
            background-color: #0077ffbf;
          }
          .portfolio3{
            background-color: rgba(255, 255, 255, 0.8);
          }
          .portfolio4{
            background-color: rgba(252, 168, 0, 0.8);
          }
        }
      }
    }
  }
}

// portfolio modal
.modal-content{
  &__detail{
  width:100%;
  display: inline-block;
  padding-bottom: 10px;
  }
}

// contact
.contact__wrapper{
  width:90%;
  height:80vh;
  font-family:"Rounded Mplus 1c";
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  &__sns{
    // width:100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
    &__title{
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
      margin-bottom: 0px;
      p{
        background-color: #61C359;
        color: #FEEABC;
        font-size: 3rem;
        padding:0 20px;
        border-radius: 20px;
        margin-bottom: 40px;
      }
    }
    &__list{
      text-shadow: 2px 2px 0.5px #999999;
      // display: block;
      height: 40vh;
      color: white;
      // font-size: 24px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      a{
        font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */  
        font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/  
        line-height: 1.3;  
        color: white;
      }
      @media (min-width: 1200px) {/* 1200px以上*/
        a {
            font-size: 2.4rem;/* 24px*/
        }
      }
      @media screen and (max-width: 640px) {/* 640px以下*/
        body{
        line-height: 2;
        }
        a {
            font-size: 2rem;/* 20px*/          
        }
      }        
      i{
        margin-right: 1rem;
      }
      .fa-pen-nib{
        display: inline-block;
        transform:rotate(135deg);
        text-shadow: -1.5px -3px 0.5px #999999;
      }
      .content{
        height:50%;
        margin:1vh 0 ;
        span {
          position: relative;
        }        
        span::before, span::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #3cefff;
          transform-origin: center right;
          transform: scaleX(0);
          transition: transform 0.5s ease;
        }        
        span::before {
          top: 0;
        }        
        span::after {
          bottom: 0;
        }        
        span:hover::before, span:hover::after {
          transform-origin: center left;
          transform: scaleX(1);
        }        
      }
    }
  }
  &__direct{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;    
    &__form-title{
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
      p{
        background-color: #61C359;
        color: #FEEABC;
        font-size: 3rem;
        border-radius: 20px;
        margin-bottom: 10px;
        padding:0 20px; 
      }
    }
    &__form-wrapper{
      text-shadow: 2px 2px 0.5px #999999;
      display: block;
      height: 40vh;
      color: white;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__dm{
        height: 100%;
        font-size: 3rem;
        text-align: center;
        text-decoration: none;
        a{
          display: block;
          color: white;
        }
        span {
          position: relative;
        }
        span::before, span::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #3cefff;
          transform-origin: center right;
          transform: scaleX(0);
          transition: transform 0.5s ease;
        }
        span::before {
          top: 0;
        }        
        span::after {
          bottom: 0;
        }        
        span:hover::before, span:hover::after {
          transform-origin: center left;
          transform: scaleX(1);
        }        
      }
    }
  }
}

// 背景色
.contents-about{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.contents-experience{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.contents-technology{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}



// レスポンシブデザイン対応

