// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通部分
.contents_container{
  width:100vw;
  height:100vh;
}

.p-image{
  // width:150vw;
  height:150vh;
}

// home

.contents-about{
  background-color:#FEEABC;
}

.contents-experience{
  background-color: #FCAA00;
}

.contents-technology{
  background-color: #61C359;
}

.contents-portfolio{
  background-color: #FEEABC;
}

.contents-hobby{
  background-color:#767676;
}

.contents-contact{
  background-color:#FCAA00;
}

// about
.about__wrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about__title{
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 3rem;
      height: 30%;
      background-color: #FCAA00;
      border-radius: 30px;
      color: #FEEABC;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:30px;
      font-family:"Rounded Mplus 1c";
      span {
        position: relative;
      }
      
      span::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #61C359;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      
      span:hover::before {
        transform: translate(-50%, 0) scaleX(1);
      }
    }
  }
  .about__detail{
    font-family:"Rounded Mplus 1c";
    font-size: 2rem;
    width:90%;
    height:70%;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__image{
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__content-image{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
        .image-content{
          width: 60%;
          height:auto;  
        }
      }
      &__content-nickname{
        width:100%;
        display:flex;
        justify-content: center;
        &__label{
          border-right: 1px solid #767676;
          margin: 0 10px 20px 0;
          padding:0 10px 0 0 ;
          color: #767676;
        }
        &__me{
          color: #61C359;
        }
      }
    }
    &__contents{
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .contents-content{
        width:100%;
        display: flex;
      }
      .about-label{
        width:50%;
        text-align: right;
        border-right: 1px solid #767676;
        margin: 0 10px 20px 0;
        padding:0 10px 0 0 ;
        color: #767676;
      }
      .about-content{
        width: 50%;
        text-align: left;
        color: #61C359;
        a{
          color: #61C359;
        }
      }
    }
  }
}

